<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%=act.name%></title>
        <%- include('../partials/style_links.ejs') %>
    </head>
    <body>
        <%- include('../partials/nav_bar.ejs') %>
        <header>
            <h1><%=act.name%></h1>
        </header>
        <main>
            <div id="show-container" class="container">
                <img src="<%=act.img%>" alt="pic of activity">
                <fieldset id="details-grid">
                    <!-- Location -->
                    <div class="grid-item">
                        <label for="show-location">Location</label>
                        <p id="show-location"><%=act.location%></p>
                    </div>
                    <!-- Type -->
                    <div class="grid-item">
                        <label class="show-label" for="show-type">Type</label>
                        <p id="show-type"><%=act.type%></p>
                    </div>
                    <!-- Date -->
                    <div class="grid-item">
                        <label for="show-date">Date</label>
                        <p id="show-date"><%=act.date%></p>
                    </div>
                    <!-- Time -->
                    <div class="grid-item">
                        <label for="show-time">Time Frame</label>
                        <p id="show-time"><%=act.time%> hours</p>
                    </div>
                    <!-- Rating -->
                    <div class="grid-item">
                        <label for="show-rating">Rating</label>
                        <p id="show-rating"><%=act.rating%></p>
                    </div>
                    <legend>Details</legend>
                </fieldset>
                <fieldset>
                    <legend>Description</legend>
                    <p><%=act.description%></p>
                </fieldset>
                <div class="control-panel">
                    <button class="back">BACK</button>
                    <% if (currentUser._id === act.user[0]._id + "") { %>
                        <button><a href="/acts/<%=act.id%>/edit">EDIT</a></button>
                        <button class="delete-button" type="button">DELETE</button>
                    <% } %>
                </div>
            </div>
            <h3>Comments</h3>
            <div class="container">
                <form id="add-a-comment" action="/acts/<%=act._id%>/comment?_method=PUT" method="post">
                    <fieldset>
                        <legend for="comment-box">Add a Comment</legend>
                        <textarea id="comment-box" name="comment"></textarea>
                        <button type="submit">Add Comment</button>
                    </fieldset>
                </form>
                    <!-- Display Comments -->
                    <% for (i = 0; i < act.comments.length; i++) {
                        %>
                        <hr>
                        <form class="comment-container" action="/acts/<%=act._id%>/comment/<%=act.comments[i]._id%>?_method=PUT" method="post">
                            <p class="comment"><%=act.comments[i].commentUser[0].username%>: <%=act.comments[i].comment%></p>
                            <% if (currentUser._id === act.comments[i].commentUser[0]._id + "") { %>
                                <button class="delete-comment-button" type="submit">DELETE</button>
                            <% } %>
                        </form>
                        <%
                    } %>

            </div>
        </main>
        <%- include ('../partials/footer.ejs') %>
        <!-- Delete Activity Modal -->
        <div id="delete-modal" class="none">
            <form id="delete-warning" class="container" action="/acts/<%=act._id%>?_method=DELETE" method="post">
                <h3>Are you sure you want to delete this activity?</h3>
                <button id="delete" type="submit">DELETE</button>
                <hr>
                <button id="delete-no" type="button">No</button>
            </form>
        </div>
        <!-- Delete Comment Modal -->
        <!-- <div id="delete-comment-modal" class="none">
            <form id="delete-comment-warning" class="container" action="/acts/<%=act._id%>/comment?_method=PUT" method="post">
                <h3>Are you sure you want to delete this comment?</h3>
                <button id="delete-comment" type="submit">DELETE</button>
                <hr>
                <button id="delete-comment-no" type="button">No</button>
            </form>
        </div> -->
    </body>
</html>
