<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <nav>

        </nav>
        <header>
            <h1><%=act.name%></h1>
        </header>
        <main>
            <img src="<%=act.img%>" alt="pic of activity">
            <h4>Description</h4>
            <p><%=act.description%></p>
            <div class="">
                <a href="/acts/<%=act._id%>/edit">
                    <button type="button">EDIT</button>
                </a>
                <form action="/acts/<%=act._id%>?_method=DELETE" method="post">
                    <button type="submit">DELETE</button>
                </form>
                <a href="/acts">
                    <button type="button">Back</button>
                </a>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>
