<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>I'm Outdoorsy</title>
        <meta charset="utf-8">
        <%- include('../partials/style_links.ejs') %>
    </head>
    <body>
        <%- include ('../partials/nav_bar.ejs') %>
        <header>
            <% if (currentUser) {
                %>
                <h1>Welcome <%=currentUser.name%></h1>
                <%
            } else {
                %>
                <h1>Welcome to I'm Outdoorsy</h1>
                <%
            } %>
        </header>
        <main>
            <% if (currentUser) {
                %>
                <div class="banner">
                    <h3>Activities Feed</h3>
                    <div class="sort-by-container">
                        <h3>Sort By: </h3>
                        <select id="sort-by-menu" name="sort">
                            <option value="">Recent</option>
                            <option value="">Popular</option>
                        </select>
                    </div>
                </div>
                <!-- Limit the number of posts on home page to 10 -->
                <% for (let i = acts.length - 1; i >= 0 && i > acts.length - 11; i--) {
                    %>
                    <div id="welcome-container" class="container">
                        <h4 class="act-name"><%=acts[i].name%></h4>
                        <p class="act-location"><%=acts[i].location%></p>
                        <img src="<%=acts[i].img%>" alt="picture of activity"/>
                        <div class="act-control-panel">
                            <p class="control-item"><%=acts[i].user[0].username%></p>
                            <p class="control-item">rating: <%=acts[i].rating%></p>
                            <p class="control-item"><a href="/acts/<%=acts[i]._id%>">more info</a></p>
                        </div>
                        <hr>
                        <p class="act-description"><%=acts[i].description%></p>
                    </div>
                    <%
                } %>
                <%
            } else {
                %>
                <div id="intro-container" class="container">
                    <h2>READY TO TELL EVERYONE HOW OUTDOORSY YOU ARE?</h2>
                    <a href="/users/new">
                    <button>Click Here to Get Started!</button></a>
                    <h4> - Or - </h4>
                    <a href="/sessions">
                    <button>Log In</button></a>
                </div>
                <%
            } %>
        </main>
        <footer>
            <audio controls>
              <source src="<%=music%>" type="audio/mpeg">
            </audio>
        </footer>
    </body>
</html>
