<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title><%=user.name%>'s Profile</title>
        <meta charset="utf-8">
        <%- include('../partials/style_links.ejs') %>
    </head>
    <body>
        <%- include ('../partials/nav_bar.ejs') %>
        <header>
            <h1><%=user.name%>'s Profile</h1>
        </header>
        <main>
            <div class="container">
                <!-- Used a fieldset here just for previously made stylings -->
                <fieldset id="show-user-box">
                    <div class="user-item">
                        <label for="show-first-name">First Name: </label>
                        <p id="show-first-name"><%=user.name%></p>
                    </div>
                    <div class="user-item">
                        <label for="show-username">Username: </label>
                        <p id="show-username"><%=user.username%></p>
                    </div>
                    <div class="user-item">
                        <label for="show-password">Password: </label>
                        <p id="show-password">encrypted</p>
                    </div>
                    <div class="user-item">
                        <label for="show-bio">User Bio:</label>
                        <p id="show-bio"><%=user.bio%></p>
                    </div>
                </fieldset>
                <a class="control-panel" href="/users/<%=user._id%>/edit">
                    <button type="button">Edit</button>
                </a>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>
